html,
body {
  height: 100%;
}

body {
  font-family: "Archivo Narrow", sans-serif;
  background-color: $background-colour;
  color: white;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: $primary;
  margin-top: 5vw;
  font-size: 1vw;
  color: $grey;
  padding: 3vw 3vw 3vw 3vw;
}

.wrapper {
  flex: 1 0 auto;
}

.card {
  padding-bottom: 15vw;
  border-radius: 10%;
  background-color: $primary;
}

.card:nth-child(3),
.card:nth-child(8) {
  background-color: white;
  border: 0.2vw $pink solid;
}

.card:nth-child(6) {
  background-color: $pink;
  border: 0.2vw white solid;
}

.row {
  row-gap: 2vw;
  column-gap: 2vw;
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 800px) {
  footer {
    font-size: 3vw;
  }

  .row {
    row-gap: 3vw;
    column-gap: 3vw;
  }
}

@media (max-width: 600px) {
  footer {
    font-size: 4vw;
  }

  .row {
    row-gap: 10vw;
    column-gap: 10vw;
  }
}
