.product {
  background-color: $background-dark;
  border-radius: 15px;
  margin-bottom: 2em;
}

.product .card-img-top {
  border-radius: 15px 15px 0 0;
}

.product .btn {
  background-color: $primary;
  border: none;
  width: 100%;
}
